.largetext {
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
    padding-top: 3.5rem;
    padding-bottom: 1.5rem;
}

.subtitle {
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
}

.purpletext {
    color: #5f259f; /* Xebia purple */
}

.logo {
    width: 400px;
    height: 70px;
    margin-bottom: 2.0rem;
    margin-top: 3.0rem;
}

.img300x300 {
    width: 300px;
    height: 300px;
}

.img450x450 {
    width: 450px;
    height: 450px;
    margin-left: .25rem;
}

.margin-md-left {
    margin-left: 1.5rem;
}

.margin-md-right {
    margin-right: 1.5rem;
}

.buttonSpacing {
  margin: 8px; /* Adjust the value as needed for spacing */
}